services:
  pg:
    image: postgres:16
    container_name: kylo-pg
    networks:
      - remodel_default
    environment:
      POSTGRES_PASSWORD: kylo
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    command: >
      postgres
      -c listen_addresses='*'
      -c password_encryption=md5
      -c hba_file=/etc/postgresql/pg_hba.conf
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./pg_hba_fixed.conf:/etc/postgresql/pg_hba.conf

volumes:
  pgdata:

networks:
  remodel_default:
    external: true


