VENDOR_LOOKUP_ENABLED=true
VENDOR_LOOKUP_MAX_RESULTS=5
VENDOR_LOOKUP_TIMEOUT_SECONDS=10
VENDOR_LOOKUP_REQUIRE_APPROVAL=true
VENDOR_LOOKUP_AUTO_PROMOTE=false
VENDOR_LOOKUP_CACHE_PATH=config/bank_vendor_cleaner/vendor_lookup_cache.yaml
VENDOR_LOOKUP_RULES_PATH=config/bank_vendor_cleaner/vendor_lookup_rules.yaml
VENDOR_LOOKUP_PROVIDERS_PATH=config/bank_vendor_cleaner/vendor_lookup_providers.yaml
